mixin slider(image, image1, image2, image3)
	.slider
		img.slider__item(src=require(`../../../src/img/rooms/${image}.jpg`).default alt='Фото комнаты')
		img.slider__item(src=require(`../../../src/img/rooms/${image1}.jpg`).default alt='Фото комнаты')
		img.slider__item(src=require(`../../../src/img/rooms/${image2}.jpg`).default alt='Фото комнаты')
		img.slider__item(src=require(`../../../src/img/rooms/${image3}.jpg`).default alt='Фото комнаты')