mixin button(text='', mod='')
	button(class='button'+mod)= text


mixin button__border(text='', mod='')
	button(class='button__border'+mod)= text

mixin button__border-long(text, link)
	a(href= link ).button__border= text

mixin button-long(text)
	button.button-long(type="submit")= text

mixin button-empty(text='', isgray=false)
	if isgray
		button(class="button-empty button-empty_gray")= text
	else
		button(class="button-empty")= text

mixin button__radio
	.button__radio
		label.button__radio-label
			input(type="radio", name="name" checked=true).button__radio-input
			span.button__radio-text Мужчина
		label.button__radio-label
			input(type="radio", name="name").button__radio-input
			span.button__radio-text Женщина

mixin button__stars(rate=0)
	.button__stars
		-for (let i=0; i<5;i++)
			if rate>i
				span.button__stars-items star 
			else
				span.button__stars-items star_border




