include ../button-like/button-like.pug

mixin reviews(fio, date, text, image, value, checked)
	.reviews
		.reviews__header
			img(class='reviews__img' src=require(`../../../src/blocks/reviews/img/${image}.jpg`).default alt='Фото аватарки')
			.reviews__like
				+button-like(value, checked)
		.reviews__section
			.reviews__container
				h3.reviews__name= fio
				span.reviews__date= date
			p.reviews__text= text