
//-mixin dropdown(text, placeholder)
//-	.dropdown
//-		label.dropdown__label= text
//-			.dropdown__item
//-				input.dropdown__item-input(type='text' readonly placeholder= placeholder)
//-				span.dropdown__item-icon expand_more
include ../button/button.pug

mixin dropdown(dropdowns = {})
    -let {name, buttonClass, dropdownClass, show} = dropdowns
    .dropdown(class=dropdownClass)
        button(class=buttonClass)
            p.dropdown__text= name
            i.material-icons expand_more
        .dropdown-content(class=show)
            block

mixin dropdown-btn(parametres={})
    -let {buttonName, inputClass, inputValue='0'} = parametres;
    .dropdown-content__box
        p= buttonName
        .dropdown-content__boxbtn
            button.minus -
            input(type='text' value=inputValue class=inputClass disabled)
            button.plus +