include ../logo/logo.pug
include ../buttons/buttons.pug

mixin header(parametres={})
	- let {buttons=false, user=false, userText='Юлий Цезарь'}=parametres
	.header__body
		.header
			+logo
			.header__container
				.header__menu
					block
				if(buttons==true)
					.header__button-inner
						.header__button
							+buttons({type: 'button-border__small', text: 'Войти'})
						.header__button
							+buttons({type: 'button', text: 'Зарегистрироваться'})
				if(user==true)
					span.header__user= userText

mixin header-menu(parametres={})
	-let {text, isOpen=false}=parametres
	if(isOpen==true)
		li.header-menu
			ul.header-menu__inner
				a(href='#' class='header-menu__link')=text
				i.header-menu__icons expand_more
	else
		li.header-menu
			ul.header-menu__inner
				a(href='#' class='header-menu__link')=text